{% extends "layout.html" %}
{% block body %}




<div style="background: url({{background}});
     background-position: left top;
background-size: cover;
background-repeat: no-repeat, repeat;
background-attachment: fixed;


">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron" id="background" style="background: none;">
      <div class="container jumbotron" id="home-start">
        <h1 class ="" id="home-title"><img  id="home-logo" src="{{ url_for('static', filename='img/themes/'+config['THEME']+'/logo.png') }}" alt="{{ config['SITENAME' ]}}"</h1>

        <p class="" id="home-slogan">{{config['SLOGAN' ]}}</p>
	{% if status[0]%}
        <h2 class="" id="home-title">Players online: <strong> {{ status[2] }} / {{ status[3] }}</strong></h2>

        <div class="progress">

            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow=" {{ status[2] }}" aria-valuemin="0" aria-valuemax="{{ status[3] }}" style="width: {{ barWidth }}%;">
                <span class="sr-only">{{barwidth}}%</span>
            </div>
        </div>
	{% else %}
	    <h2 class="" id="home-title">Players online: <strong style="color: #D9534F; "> Server is offline!</strong></h2>
      <hr>
  {% endif %}


        <div class="row">
        <div class="col-md-3 ">

        </div>
        <div class="col-md-6">
          <a class="btn btn-primary btn-lg text-center btn-block wow rubberBand" data-wow-delay="1s" href="/register" role="button" onClick="copyToClipboard('{{config['MCURL']}}')">Join MineZRC»</a>
       </div>

     </div>
      </div>


      </div>
      <h1 id="downarrow" style="text-align: center; font-size: 200px; padding: 4vh;"><i class="fa fa-arrow-down wow fadeInDown" ></i></h1>
    </div>


<div class="container" id="home-cont">
<hr>
      <h1>NEWS</h1>

    <div class="row" id="home-news">
        {% for post in posts %}
            <div class="col-md-4 ">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|striptags|safe|truncate(200) }}</p>
            <p><a class="btn btn-default" href="/post/{{post.title.replace(" ", "%20")}}" role="button">View details »</a></p>
            </div>
        {% else %}
            <!-- no posts here so far -->
            <li><em>If no news is good news, is all news bad news?</em>
        {% endfor %}

    {% if session.logged_in %}

  {% from "_formhelpers.html" import render_field %}
    <form action="{{ url_for('add_entry') }}" method=post id=add-entry role="form">
  <dl class="form-group">
    {{ render_field(form.title) }}
    {{ render_field(form.text) }}

  <button type=submit class = "btn btn-default" value=Post! id=post>
  </dl>
  </form>
  {% endif %}
  <ul id=entries>

  </ul>
</div>



      <hr>
      <h1>THE STAFF</h1>
      <div class="row">
      {% for user in moderators %}

                <div class="col-md-4" data-wow-delay=".20s" data-wow-offset="20">
                    <h2 class="text-center">{{user.ranking}}</h2>
                    <a data-toggle="modal" data-target="#modal{{user.mcname}}" style="cursor: pointer">
                      <img src="{{ user.getHead() }}" class="img-circle center center-block" id ="home-staff" alt="{{user.mcname}}"></a
                    <p><button type="button" class="btn btn-default btn-lg center-block username" data-toggle="modal" data-target="#modal{{user.mcname}}">
                        {{user.mcname}}
                    </button></p>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="modal{{user.mcname}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 600px;">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title capitalize" id="myModalLabel ">{{user.mcname}}</h4>
				</div>
			<div class="modal-body">
			<div id="viewer{{user.mcname}}">

            </div>

		</div>

			</div>
		</div>
  </div>


       <script>
            $('#modal{{user.mcname}}').on('shown.bs.modal', function () {
                $( "#viewer{{user.mcname}}" ).append( '<iframe id="ifrviewer" src="user/{{user.mcname}}" width="570" height="300" scrolling="no"  style="border:none"></iframe>' );
            })

            $('#modal{{user.mcname}}').on('hidden.bs.modal', function () {
                $( "#ifrviewer" ).remove();
            })

            window.setTimeout(function() {
              $("#downarrow").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
              });
            }, 2000);
        </script>

      {% endfor %}
</div>






{% endblock %}
